<form class="form-horizontal" data-ng-controller="CategoryEditCtrl" data-ng-submit="persist()" novalidate="novalidate">

	<div class="form-group">
		<label for="title" class="control-label col-lg-2">Title</label>
		<div class="col-lg-10">
			<input id="title" type="text" placeholder="Title" class="form-control" data-ng-model="$parent.$model.title" />
		</div>
	</div>
	<!-- /.form-group -->
	
	<div class="form-group">
		<label for="title" class="control-label col-lg-2">Categories</label>
		<div class="col-lg-10">
			<ul class="list-group">
				<li data-ng-repeat="cat in categories">
					<input type="checkbox" data-ng-model="cat.checked"/>
					<label>{{cat.name}}</label>
				</li>
			</ul>
		</div>
	</div>
	<!-- /.form-group -->
	
	<div class="form-group">
		<label for="excerpt" class="control-label col-lg-2">Excerpt</label>
		<div class="col-lg-10">
			<textarea id="excerpt" data-ng-model="$parent.$model.excerpt" class="form-control" rows="3"></textarea>
		</div>
	</div>
	<!-- /.form-group -->
	
	<div class="form-group">
		<label for="content" class="control-label col-lg-2">Content</label>
		<div class="col-lg-10">
			<textarea id="content" ck-editor data-ng-model="$parent.$model.content" class="form-control"></textarea>
		</div>
	</div>
	<!-- /.form-group -->

	<div class="form-group">
		<span class="col-lg-2"></span>
		<div class="form-actions no-margin-bottom col-lg-10">
			<button class="btn btn-primary" type="submit">Save</button>
		</div>
	</div>
	<!-- /.form-group -->
</form>
